.wrapper {
    background: yellow;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
    justify-content: center;
    align-items: center;
}

.header {
    grid-column: span 12;
    background: blue;
}

.menu {
    grid-column: span 4;
    background: red;
}

.content {
    grid-column: span 8;
    background: white;
}

.footer {
    background: green;
    grid-column: span 12;
}

@media screen and (max-width: 680px) {
    .header {
        grid-column: span 6;
    }

    .menu {
        /* Brings the menu Before header */
        grid-column: span 6;
        grid-row: 1;
    }

    .content {
        grid-column: span 12;
    }
}